body {
  background-color: beige;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.projectImg {
  width: 600px;
  border-radius: 5%;
}

.aboutName {
  margin-top: 30px;
  text-align: center;
  font-size: 3em;
  font-family: Playfair Display,serif;
}

.bio {
  width: 35%;
  margin-left: 40%;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #b4b59a;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 7%;
  margin-bottom: 5px;
}

.projects {
  display: grid;
	place-items: center;
  border-bottom: 3px dashed;
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
}

.home {
  margin: 200px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 1.6em;
  padding: 20px;
  text-align: center;
}

.description {
  text-align: center;
}

.about {
  height: 81vh;
}