body {
  background-color: beige;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.projectImg {
  width: 600px;
  border-radius: 5%;
}

.aboutName {
  margin-top: 30px;
  text-align: center;
  font-size: 3em;
  font-family: Playfair Display,serif;
}

.bio {
  width: 35%;
  margin-left: 40%;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #b4b59a;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 7%;
}

.projects {
  display: grid;
	place-items: center
}